<%- include('partials/mainHeader') %>
    <section class="main-body">
        <div class="jumbotron main  text-center" >
            <h1>Working!</h1>
        </div>
    </section>
    <%- include('partials/footer') %>